@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600;700&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
}

body {
  min-height: 100vh;
  background: #ffffffd2;
}

.sidebar {
  position: fixed;
  top: 0;
  left: 0;
  height: 100%;
  width: 85px;
  display: flex;
  overflow-x: hidden;
  flex-direction: column;
  background: black;
  padding: 25px 20px;
  transition: all 0.4s ease;
}

.sidebar:hover {
  width: 270px;
}

.sidebar .sidebar-header {
  display: flex;
  align-items: center;
}

.sidebar .sidebar-header img {
  width: 60px;
  border-radius: 50%;
}

.sidebar .sidebar-header h2 {
  color: #ffffffd2;
  font-size: 1.20rem;
  font-weight: 600;
  white-space: nowrap;
  margin-left: 23px;
}

.sidebar-links h4 {
  color: #ffffffd2;
  font-weight: 500;
  font-size: 1.50rem;
  white-space: nowrap;
  position: relative;
}

.sidebar-links h4 span {
  opacity: 0;
}

.sidebar:hover .sidebar-links h4 span {
  opacity: 1;
}

.sidebar-links .menu-separator {
  position: absolute;
  left: 0;
  top: 50%;
  width: 100%;
  height: 3px;
  transform: scaleX(1);
  transform: translateY(-50%);
  background: #ffffffd2;
  transform-origin: right;
  transition-delay: 0.2s;
}

.sidebar:hover .sidebar-links .menu-separator {
  transition-delay: 0s;
  transform: scaleX(0);
}

.sidebar-links {
  list-style: none;
  margin-top: 20px;
  height: 80%;
  flex-grow: 1;
  overflow-y: auto;
  scrollbar-width: none;
}

.sidebar-links::-webkit-scrollbar {
  display: none;
}

.sidebar-links li a {
  display: flex;
  align-items: center;
  gap: 0 20px;
  color: #ffffffd2;
  font-weight: 500;
  white-space: nowrap;
  padding: 15px 10px;
  text-decoration: none;
  transition: 0.2s ease;
}

.sidebar-links li a:hover {
  color: #000000;
  background: #ffffffd2;
  border-radius: 4px;
}

.icon {
  width: 36px;
  height: 36px;
  display: inline-block;
  background-position: center;
  background-repeat: no-repeat;
  background: #ffffffd2;
  border-radius: 10px;
}

.hero,
.contenedor1,
.contenedor2,
.contenedor3,
.contenedor4,
.contenedor5,
.contenedor6,
.contenedor7,
.contenedorg,
.Energias,
.Info,
footer {
  margin-left: 85px;
  transition: margin-left 0.4s ease;
}

.sidebar:hover ~ .hero,
.sidebar:hover ~ .contenedor1,
.sidebar:hover ~ .contenedor2,
.sidebar:hover ~ .contenedor3,
.sidebar:hover ~ .contenedor4,
.sidebar:hover ~ .contenedor5,
.sidebar:hover ~ .contenedor6,
.sidebar:hover ~ .contenedor7,
.sidebar:hover ~ .contenedorg,
.sidebar:hover ~ .Energias,
.sidebar:hover ~ .Info,
.sidebar:hover ~ footer {
  margin-left: 270px;
}

